= tinymce_assets

.container.s-full-width
  - input = url_for[/demo/] ? { url: demo_review_path } : {}
  = simple_form_for note, input do |f|
    = render "form_errors", record: note

    %button#qa-note-save.btn.waves-effect.waves-light.green
      = fa_icon("floppy-o")
      = t("helpers.submit.submit", model: Note.model_name.human)
    %br
    %br

    .text-editor
      = f.input :title, placeholder: t("note.untitled_note"), label: false, wrapper: false, as: :text,  input_html: { class: "browser-default title autosize" }
      = f.input :content, required: true, label: false, wrapper: false, input_html: { class: "tinymce" }

= tinymce
