-# DATES
.grey-text

  %p.right
    %b= "#{Note.human_attribute_name(:concepts_count)}:"
    = note.concepts_count

  %p.left
    %b= "#{User.human_attribute_name(:name)}:"
    = note.user.name
    %br

    - if current_page?(note)
      -# THE SHOW PAGE

      %b= "#{Note.human_attribute_name(:created_at)}:"
      = local_time(note.created_at, :medium)

      - if note.updated_at != note.created_at
        %br
        %b= "#{Note.human_attribute_name(:updated_at)}:"
        = local_time(note.updated_at, :medium)

    - else
      -# OTHER PAGES
      %b #{t('attributes.viewed_on')}:
      = local_time(Time.current, :medium)

    %br
    %br
    - klass = 'btn-flat waves-effect'
    = link_to_hash_if_current t('buttons.view'), note, class: klass
    = link_to_hash_if_current t('app.review'), review_note_path(note), class: klass
    = link_to_hash_if_current Quiz.model_name.human, quiz_note_path(note), class: klass

.clear-both
- unless current_page?(review_note_path(note))
  .divider
%br
