.card.small.blue-grey[note]
  .card-content.white-text
    %span.card-title= link_to note.title, note, class: 'white-text'
    %p
      %b #{Note.human_attribute_name(:user)}:
      #{note.user}
    %p.grey-text.text-lighten-1= strip_tags(note.content).truncate(180, separator: ' ')

  .card-action
    = link_to t('notes.show.link'), note
    = link_to t('notes.review.link'), review_note_path(note)
    = link_to t('notes.quiz.link'), quiz_note_path(note)
