.card.medium.qa-note.note{ class: note.css_class }
  .card-content
    %span.card-title= link_to note.title.truncate(60), note, class: 'grey-text text-darken-3'
    %p.grey-text.text-darken-2
      %br
      = render "users/chip", user: note.user
      %br
      %b #{t('app.concepts', count: 2)}:
      #{note.concepts_count}
    %br
    %p.grey-text.text-darken-1= strip_tags(note.content)

  .card-action
    = render "notes/buttons", note: note, klass: "", full_view: false
