- breadcrumb :quiz_note, @note

.container.m-full-width
  .card-panel.m-no-margin
    - unless @note.has_minimum_number_of_concepts?
      %h5.center= t('notes.text.not_enough_terms.heading')

    - else
      = render 'notes/info', note: @note

      = form_for :note, url: quiz_results_note_path(@note) do
        = hidden_field_tag :quiz, @note.quiz.to_json

        -@note.quiz.questions.each do |question|
          %h5= "#{question.number}) #{question}"
          %br
          - question.options.each do |option|
            - id = "quiz_#{question.number}_#{option.letter}"
            = radio_button :user_answers, question.number, option, id: id
            = label_tag id, class: 'grey-text text-darken-2' do
              %b (#{option.letter})
              #{sanitize(option.to_s)}
            %br
          %br
          %br
          .divider
          %br

        .center
          %button#quiz-submit.waves-effect.waves-light.btn-large= t('notes.quiz_results.link_title')
