-#
-# Meta
-#

-# meta_tag :keywords, @note.tags.join(",")
- page_title "#{Quiz.model_name.human}: #{@note}"
- breadcrumb :quiz_note, @note

-#
-# Content
-#

.container.m-full-width
  .card-panel.m-no-margin-horizontal
    - unless @note.has_minimum_number_of_concepts?
      - needed_count = Note::MINIMUM_NUMBER_OF_CONCEPTS - @note.concepts_count
      %h5.center
        = t("note.not_enough_terms_html", terms_count: @note.concepts_count, needed_count: needed_count)
        - if policy(@note).edit?
          %br
          %br
          = t("note.fix_this_note")
          %br
          %br
          = link_to t("button.edit"), edit_note_path(@note), class: "btn waves-effect"

    - else
      = render "notes/info", note: @note

      = form_for :note, url: quiz_results_note_path(@note) do
        = hidden_field_tag :quiz, @note.quiz.to_json

        -@note.quiz.questions.each do |question|
          %h5= "#{question.number}) #{question}"
          %br
          - question.options.each do |option|
            - id = "quiz_#{question.number}_#{option.letter}"
            = radio_button :user_answers, question.number, option, id: id
            = label_tag id, class: "grey-text text-darken-2" do
              %b (#{option.letter})
              #{sanitize(option.to_s)}
            %br
          %br
          %br
          .divider
          %br

        .center
          %button#quiz-submit.waves-effect.waves-light.btn-large= t("app.quiz_results")
