- breadcrumb :review_note, @note

.container.m-full-width
  .card-panel.m-no-margin
    - if @note.concepts.blank?
      %h5
        = t('notes.no_terms_or_defintions')
        - if current_user.owns?(@note)
          %br
          %br
          = t('notes.fix_this_note')
          %br
          %br
          = link_to t('buttons.edit'), edit_note_path(@note), class: 'btn waves-effect'

    - else
      = render 'notes/info', note: @note
      %table.review-table.highlight
        %thead
          %tr
            %th #
            %th= t('notes.terms', count: 2)
            %th= t('notes.definitions', count: 2)
        %tbody
          - @note.concepts.each_with_index do |concept, index|
            %tr
              %td.number= index + 1
              %td.term= concept[:term]
              %td.definition= concept[:definition]

      = render 'notes/buttons', note: @note
