-#
-# Meta
-#

-# meta_tag :keywords, @note.tags.join(',')
- page_title "#{Note.model_name.human}: #{@note}"
- breadcrumb :note, @note

-#
-# Content
-#

.container
  .row
    .card-panel.qa-note
      = render 'notes/info', note: @note
      %p= raw(@note.content)
      %br
      = render "notes/buttons", note: @note

  = render "comments/form", item: @note

