-#
-# Meta
-#

- meta_tag :description, @note
-# meta_tag :keywords, @note.tags.join(',')
- page_title "#{Note.model_name.human}: #{@note}"
- breadcrumb :note, @note

-#
-# Content
-#

.container.m-full-width
  .card-panel.m-no-margin
    = render 'notes/info', note: @note
    %p= raw(@note.content)
    = render 'notes/buttons', note: @note
