-#
-# Meta
-#

- page_title t("account.update")
- breadcrumb :edit_user_registration

-#
-# Content
-#

.container.max-width600.s-full-width
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "form_errors", record: resource

    .card-panel.margin-horizontal
      .form-inputs
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email}

      = f.input :password, autocomplete: "off", hint: t(".leave_blank_if_you_don_t_want_to_change_it"), required: false
      = f.input :password_confirmation, required: false
      = f.input :current_password, hint: t(".we_need_your_current_password_to_confirm_your_changes"), required: true
    = render "form_submit_button", f: f, submit_text: t(".update")
    = render "devise/shared/links"

.empty-space

.center
  = link_to t("account.deactivate"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete
