-#
-# Meta
-#

- page_title t(".resend_unlock_instructions")
- breadcrumb :new_user_unlock

-#
-# Content
-#

.container.max-width600.s-full-width
  = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    = render 'form_errors', record: resource
    = f.full_error :unlock_token

    .card-panel.margin-horizontal
      %p= t('app.email_me_instructions')
      %br
      .form-inputs= f.input :email, required: true, autofocus: true
      = render 'form_submit_button', f: f, submit_text: t("app.send_me_instructions")
      = render "devise/shared/links"
