- breadcrumb :edit_user_password

.container.max-width600.s-full-width
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = render 'form_errors', record: resource
    = f.input :reset_password_token, as: :hidden
    = f.full_error :reset_password_token

    .card-panel.margin-horizontal
      %p= t('devise.passwords.edit.description')
      %br
      .form-inputs
        = f.input :password, label: t('attributes.new_password'), required: true, autofocus: true, hint: (t('app.minimum_characters', count: @minimum_password_length) if @minimum_password_length)
        = f.input :password_confirmation, label: t('attributes.password_confirmation'), required: true
      = render 'form_submit_button', f: f, submit_text: t('devise.passwords.edit.title')
      = render "devise/shared/links"
