-#
-# Meta
-#

- page_title t(".forgot_your_password")
- breadcrumb :new_user_password

-#
-# Content
-#

.container.max-width600
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render "form_errors", record: resource

    .card-panel
      %p= t("app.email_me_instructions")
      %br
      = f.input :email, required: true, autofocus: true
      = render "devise/shared/links"

    = render "buttons/submit", f: f, submit_text: t("app.send_me_instructions")
