- breadcrumb :new_user_password

.container.max-width600.s-full-width
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render 'form_errors', record: resource

    .card-panel.margin-horizontal
      %p= t('devise.shared.email_me_instructions')
      %br
      .form-inputs= f.input :email, required: true, autofocus: true
      = render 'form_submit_button', f: f, submit_text: t('devise.passwords.new.title')
      = render "devise/shared/links"
