-#
-# Meta
-#

- page_title t("app.help")
- breadcrumb :help

-#
-# Content
-#

.container.max-width600
  = simple_form_for @contact, url: url_for do |f|
    = render "form_errors", record: @contact

    .card-panel
      = f.input :email, required: true, autofocus: user_signed_in?
      = f.input :message, required: true, autofocus: !user_signed_in?, as: :text, input_html: { class: "materialize-textarea" }
      .hide=f.input :nickname, hint: t("helpers.leave_field_blank")

    = render "buttons/submit", f: f, submit_text: t("contact.submit")
