-#
-# Meta
-#

- page_title t("app.sign_in")
- breadcrumb :new_user_session

-#
-# Content
-#

.container
  .card.padding32.max-width600.margin-horizontal
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: false, autofocus: true
        = f.input :password, required: false
        - if devise_mapping.rememberable?
          = f.input :remember_me, as: :boolean, label: t("app.keep_me_signed_in")

      = render "form_submit_button", f: f, submit_text: t("app.sign_in")
      = render "devise/shared/links"
