= simple_form_for(@<%= singular_table_name %>) do |f|
  = f.error_notification

  .form-inputs
  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
  <%- end -%>

  %p.grey-text= t('app.required_fields')
  %br
  .form-actions= f.button :submit, Submit, class: 'width-100percent'
  %br
