- action_link = edit_password_url(@resource, reset_password_token: @token)


%p= t(".greeting", recipient: @resource)
%p= t(".instruction")
= link_to t(".action"), action_link, class: "button"
%br
%p #{t(".instruction_2")} #{t(".instruction_3")}
%p= t("app.click_link_below_if_button_not_working")
= link_to action_link, action_link
