- action_link = edit_password_url(@resource, reset_password_token: @token)


%p= t("mailer.greeting", user: @resource)
%p= t("devise.mailer.reset_password_instructions.description")
= link_to t("devise.passwords.edit.title"), action_link, class: "button"
%br
%p= t("app.click_link_below_if_button_not_working")
%i= link_to action_link, action_link
