-#
-# Meta
-#

- page_title t("marketing.tagline")

-#
-# Content
-#

#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br
      %br
      %br
      %h1.header.center.white-text.text-darken-2= t("marketing.header")
      .row.center
        %h5.header.col.s12.white-text.light= t("marketing.tagline")
        .clear-both
        %br
        = link_to t("marketing.link_signup"), new_user_registration_path, class: "btn-large", id: "hero-cta"
      %br
      %br
  .parallax.jsParallax= image_tag "main_header.jpg", alt: "Main header", class: "responsive-img"


.section.body-bg-color.padding16
  %h1.center= t("marketing.title", site_name: site_name)
  %br
  %br
  - parts = %i(add_notes term_definition review_table take_quiz community)
  - parts.each_with_index do |part, index|
    .row
      .col.s12.l7.offset-l1{ class: index.even? ? '' : "push-l3" }
        .hide-on-med-and-up
          = image_tag "sample/mobile_#{part}.png", width: "100%", alt: t("marketing.#{part}.image_alt")
        .hide-on-small-only
          = image_tag "sample/#{part}.png", width: "100%", alt: t("marketing.#{part}.image_alt")
      .col.s12.l3{ class: index.even? ? '' : "offset-l1 pull-l8" }
        %h3= t("marketing.#{part}.heading")
        %h5= t("marketing.#{part}.text_html", site_name: site_name)
    .empty-space

  .container.hide-on-small-only
    .row
      .col.m4.l3.offset-l2
        = image_tag "sample/mobile.png", width: "100%", alt: t("marketing.mobile.image_alt")
      .col.m8.l5
        %h3= t("marketing.mobile.heading")
        %h5= t("marketing.mobile.text_html", site_name: site_name)


.empty-space
.center= link_to t("marketing.link_signup"), new_user_registration_path, class: "btn-large"
