#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br
      %br
      %br
      %h1.header.center.white-text.text-darken-2 Stay focused
      .row.center
        %h5.header.col.s12.white-text.light= t('marketing.tagline')
        .clear-both
        %br
        = link_to t('marketing.link_signup'), new_user_registration_path, class: 'btn-large', id: 'hero-cta'
      %br/
      %br/
  .parallax= image_tag "main_header.jpg", alt: 'Main header', class: 'responsive-img'

.section.body-bg-color.padding16
  %h1.center= t("marketing.title", site_name: site_name)
  %br
  %br
  - parts = %i(add_notes term_definition review_table take_quiz community)
  - parts.each_with_index do |part, index|
    .row
      .col.m12.l9{class: index.even? ? '' : "push-l3"}
        = image_tag "sample/#{part}.png", width: "100%", alt: t("marketing.#{part}.image_alt")
      .col.m12.l3{class: index.even? ? '' : "pull-l9"}
        %h3= t("marketing.#{part}.heading")
        %h5= t("marketing.#{part}.text_html", site_name: site_name)
    %br
    %br

.empty-space
.center= link_to t('marketing.link_signup'), new_user_registration_path, class: 'btn-large'
