!!!
%html{ lang: I18n.locale }
  %head
    -# We don't want robots indexing the staging environment
    - if content_for?(:meta_robots) || !Rails.env.production?
      %meta{ content: yield_meta_tag(:robots,  "noindex, nofollow"), name: "robots" }
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %meta{ content: "english", name: "language" }
    %meta{ content: "global", name: "distribution" }
    %meta{ content: "2 days", name: "revisit-after" }
    %meta{ content: site_owner, name: "author" }
    %meta{ content: site_owner, name: "publisher" }
    %meta{ content: "#{Time.current.year}. #{site_name} by #{site_owner}", name: "copyright" }
    %meta{ content: "width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes", name: "viewport" }
    %meta{ content: yield_meta_tag(:description, yield(:title)),  name: "description" }
    %meta{ content: yield_meta_tag(:keywords,  t("marketing.keywords")),  name: "keywords" }

    - unless content_for?(:title)
      - raise "Title missing for \"#{controller_path}/#{action_name}.html\" view"
    %title= "#{yield(:title)} | #{site_name}"
    = favicon_link_tag("favicon.ico")
    = stylesheet_link_tag("application", media: "all")
    = csrf_meta_tags

  -#
  -# Body
  -#

  %body{ role: :document }
    = link_to(t("app.skip_to_content"), "#content-wrapper", class: "hide")

    %noscript
      .card.padding8.red.lighten-4
        %h5.red-text.text-darken-3
          - link = link_to(t("app.click_here"), "http://www.enable-javascript.com/", target: "_blank")
          = t("app.enable_javascript_html", link: link)

    -#
    -# Header
    -#

    %header
      .navbar-fixed
        %nav
          .nav-wrapper
            %a#site-name.brand-logo{href: root_path}
              &nbsp;
              = site_name.split[0]
              %span>= site_name.split[1]

            %a.button-collapse.jsButtonCollapse{href: '#', 'data-activates': 'menu-mobile-side'}= material_icon.menu
            %ul.right.hide-on-med-and-down
              - if user_signed_in?
                %li= link_to_hash_if_current t("note.new"), new_note_path
              %li= link_to_hash_if_current Note.model_name.human(count: 2), notes_path

              - if user_signed_in?

                -#
                -# User
                -#

                -#%li.search
                  %label{for: :search}= mi.search
                  %input.browser-default{id: :search, type: "text", value: params[:search]}
                %li
                  %a.dropdown-button{"data-activates": "dropdown2", href: "#!", 'data-beloworigin': "true"}
                    #{current_user} #{material_icon.arrow_drop_down.css_class(:right)}
                %ul#dropdown2.dropdown-content
                  / %li= link_to_hash_if_current t("devise.registrations.edit.title"), edit_user_registration_path
                  %li= link_to_hash_if_current t("app.sign_out"), destroy_user_session_path, method: :delete
              - else
                %li= link_to_hash_if_current t("app.sign_in"), new_user_session_path
                %li= link_to_hash_if_current t("devise.registrations.new.sign_up"), new_user_registration_path, class: 'btn'

      -#
      -# Side nav
      -#

      %ul#menu-mobile-side.side-nav
        - unless user_signed_in?
          %li= link_to_hash_if_current t("app.sign_in"), new_user_session_path
          %li= link_to_hash_if_current t("devise.registrations.new.sign_up"), new_user_registration_path, class: 'btn'
          %li.divider

        - if user_signed_in?
          -#%li.input-field.search
            = mi.search.css_class('prefix')
            %input{type: "text", value: params[:search]}
          %li= link_to_hash_if_current t("note.new"), new_note_path

        %li= link_to_hash_if_current Note.model_name.human(count: 2), notes_path

        - if user_signed_in?
          %li.divider
          %li= link_to_hash_if_current t("app.sign_out"), destroy_user_session_path, method: :delete


    -#
    -# Main
    -#

    %main
      - if current_page?(root_path) && !user_signed_in?
        = render 'layouts/parallax'
        = render 'layouts/flash_static'
      - else
        = breadcrumbs display_single_fragment: true
        = render 'layouts/flash_static'
        = yield

    -#
    -# Footer
    -#

    %footer.page-footer
      .container
        %ul
          %li= link_to_hash_if_current t("app.home"), root_path
          - if user_signed_in?
            %li= link_to_hash_if_current t("note.new"), new_note_path
          %li= link_to_hash_if_current Note.model_name.human(count: 2), notes_path
          - if user_signed_in?
            %li= link_to_hash_if_current t("app.sign_out"), destroy_user_session_path, method: :delete
          - else
            %li= link_to_hash_if_current t("app.sign_in"), new_user_session_path
            %li= link_to_hash_if_current t("devise.registrations.new.sign_up"), new_user_registration_path
      .footer-copyright
        .container.center
          %small &copy; #{t("app.copyright")} #{Date.today.year} #{site_owner}

    -#
    -# Javascript & javascript flash messages
    -#

    = javascript_include_tag("application")
    / = debug(params) if Rails.env.development?
    /= console if Rails.env.development?

    - [flash[:success], flash[:notice]].each do |message|
      - if message && message.size < 50
        :javascript
          Materialize.toast("#{message}", 4000)
