!!!
%html{ lang: I18n.locale }
  %head
    -# We don't want robots indexing the staging environment
    - if content_for?(:meta_robots) || !Rails.env.production?
      %meta{ content: yield_meta_tag(:robots,  "noindex, nofollow"), name: "robots" }
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %meta{ content: "english", name: "language" }
    %meta{ content: "global", name: "distribution" }
    %meta{ content: "2 days", name: "revisit-after" }
    %meta{ content: site_owner, name: "author" }
    %meta{ content: site_owner, name: "publisher" }
    %meta{ content: "#{Time.current.year}. #{site_name} by #{site_owner}", name: "copyright" }
    %meta{ content: "width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes", name: "viewport" }
    %meta{ content: yield_meta_tag(:description, yield(:title)),  name: "description" }
    %meta{ content: yield_meta_tag(:keywords,  t("marketing.keywords")),  name: "keywords" }

    - unless content_for?(:title)
      - raise "Title missing for \"#{controller_path}/#{action_name}.html\" view"
    %title= "#{yield(:title)} | #{site_name}"
    = favicon_link_tag("favicon.ico")
    = stylesheet_link_tag("application", media: "all")
    = csrf_meta_tags

  -#
  -# Body
  -#

  %body{ role: :document }
    - if Rails.env.test?
      %span{ class: "qa-page #{controller_path.gsub("/", " ")} #{action_name}" }
    = link_to(t("app.skip_to_content"), "#content-wrapper", class: "hide")

    %noscript
      .card.padding8.red.lighten-4
        %h5.red-text.text-darken-3
          - link = link_to(t("app.click_here"), "http://www.enable-javascript.com/", target: "_blank")
          = t("app.enable_javascript_html", link: link)

    -#
    -# Header
    -#

    %header= render "layouts/navigation"

    -#
    -# Main
    -#

    %main
      - if current_page?(root_path) && !user_signed_in?
        = render 'layouts/parallax'
        = render 'layouts/flash_static'
      - else
        - if current_page_needs_more_space?
          %br
        - else
          = breadcrumbs display_single_fragment: true
        = render 'layouts/flash_static'
        = yield

    -#
    -# Footer
    -#

    %footer.page-footer.center
      .container
        %ul
          %li= link_to_hash_if_current t("app.home"), root_path

          - if policy(Note).new?
            %li= link_to_hash_if_current t("note.new"), new_note_path

          %li= link_to_hash_if_current Note.model_name.human(count: 2), notes_path

          - unless user_signed_in?
            %li= link_to_hash_if_current t("app.sign_in"), new_user_session_path
            %li= link_to_hash_if_current t("devise.registrations.new.sign_up"), new_user_registration_path
          %li= link_to_hash_if_current t("legal.terms"), terms_path
          %li= link_to_hash_if_current t("legal.privacy"), privacy_path
          - if user_signed_in?
            %li= link_to_hash_if_current t("app.sign_out"), destroy_user_session_path, method: :delete
      .footer-copyright
        .container.center
          %small &copy; #{t("app.copyright")} #{Date.today.year} #{site_owner}

    -#
    -# Javascript & javascript flash messages
    -#

    = javascript_include_tag("application")
    / = debug(params) if Rails.env.development?
    / = console if Rails.env.development?

    - [flash[:success], flash[:notice]].each do |message|
      - if message && message.size < 50
        :javascript
          Materialize.toast("#{message}", 4000)
